page-sarkari-results {

  .increment{
    float: left;
    color: #212121 ;
    font-weight: 800;
    margin-right: 10px;
  }

  .resultName{
    color: #336699;
    font-weight: 800;
    cursor: pointer;
  }

}
